.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    background-image: url("https://cdn.vox-cdn.com/thumbor/LkoZB3IfXkfo6BtPZAIh7ThxVy8=/52x0:905x640/1200x800/filters:focal(52x0:905x640)/cdn.vox-cdn.com/uploads/chorus_image/image/47589771/Colvon_Inside.0.0.jpg");
}
.fade-carousel .slides .slide-2 {
    /*background-image: url("https://s3-us-west-2.amazonaws.com/assets.izmocars.com/userfiles/102839/Acrylic-Nail-Extensions-and-Overlays-170924585.jpg");*/
    /*background-image: url("https://lh5.googleusercontent.com/p/AF1QipOmQcNf_tHuc8ItHHSEwr_tQUJpsl6PrHfc9sP2=w203-h134-k-no");*/
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);*/
        background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/1010221_1748252862067281_1773745585437711031_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHA6CMfULaAl-oYsVbUqEGD0nqUyR6uyBe8Bdq2ZlEHJGeY1oFHSBAozhpMGEjis0Grto-pRq2plaIsaCmT22VoZd8LDIt2JUykKdRDKu2q3g&oh=a2674f2db3958a621713d3b78642e21a&oe=5B600510");

}
.fade-carousel .slides .slide-3 {
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);*/
    background-image: url("http://www.profilesnailsalon.com/uploads/2/2/4/1/22416518/6805357_orig.jpg");
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

#about-container {
    background-image: url("http://www.profilesnailsalon.com/uploads/2/2/4/1/22416518/6805357_orig.jpg");
}

.carousel-inner {
    z-index: 3;
}
p.lead {
    color: crimson;
}