html, body {
    width: 100%;
    height: 100%;
}

.profile-container {
    height: calc(100% - 100px);
    padding-top: 100px;
}

.recent-visits-col, .appointments-col {
    height: 100%;
    border: 1px solid darkslategray;
    overflow-y: scroll;
    overflow-x: hidden;
}

#appointment-modal {
    display: flex;
    align-items: center;
}